Cliente_Zodeiaco_WS/Web References/CavaleiroOuroCWS/CavaleiroOuroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CavaleiroOuroWS" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZodiacoWS/CavaleiroOuroWS?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="qualCavaleiro">
    <part name="parameters" element="tns:qualCavaleiro" />
  </message>
  <message name="qualCavaleiroResponse">
    <part name="parameters" element="tns:qualCavaleiroResponse" />
  </message>
  <message name="msgDia">
    <part name="parameters" element="tns:msgDia" />
  </message>
  <message name="msgDiaResponse">
    <part name="parameters" element="tns:msgDiaResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="MalformedURLException">
    <part name="fault" element="tns:MalformedURLException" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <portType name="CavaleiroOuroWS">
    <operation name="qualCavaleiro">
      <input wsam:Action="http://ws/CavaleiroOuroWS/qualCavaleiroRequest" message="tns:qualCavaleiro" />
      <output wsam:Action="http://ws/CavaleiroOuroWS/qualCavaleiroResponse" message="tns:qualCavaleiroResponse" />
    </operation>
    <operation name="msgDia">
      <input wsam:Action="http://ws/CavaleiroOuroWS/msgDiaRequest" message="tns:msgDia" />
      <output wsam:Action="http://ws/CavaleiroOuroWS/msgDiaResponse" message="tns:msgDiaResponse" />
      <fault wsam:Action="http://ws/CavaleiroOuroWS/msgDia/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://ws/CavaleiroOuroWS/msgDia/Fault/MalformedURLException" name="MalformedURLException" message="tns:MalformedURLException" />
      <fault wsam:Action="http://ws/CavaleiroOuroWS/msgDia/Fault/ParseException" name="ParseException" message="tns:ParseException" />
    </operation>
  </portType>
  <binding name="CavaleiroOuroWSPortBinding" type="tns:CavaleiroOuroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="qualCavaleiro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="msgDia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="MalformedURLException">
        <soap:fault use="literal" name="MalformedURLException" namespace="" />
      </fault>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CavaleiroOuroWS">
    <port name="CavaleiroOuroWSPort" binding="tns:CavaleiroOuroWSPortBinding">
      <soap:address location="http://localhost:8080/ZodiacoWS/CavaleiroOuroWS" />
    </port>
  </service>
</definitions>