Cliente_Zodeiaco_WS/Web References/Cadastro_CWS/CadastroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cadastrarUsuario" type="tns:cadastrarUsuario" />
  <xs:element name="evoluirPlano" type="tns:evoluirPlano" />
  <xs:complexType name="cadastrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="plano" type="xs:string" />
      <xs:element minOccurs="0" name="signo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evoluirPlano">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>